* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: beige;
}

.header {
  padding: 20px;
  background-color: #ff5f5f;
  color: #ffffff;
  position: fixed;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  color: #d9dcd6;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

main {
  margin-top: 150px;
  margin-bottom: 16px;
}

.section-block {
  display: flex;
}

.section-block,
.section-block__contact-form {
  margin: 50px 50px;
  padding: 50px;
  background-color: white;
  border-radius: 15px;
}

.section-block__left {
  width: 250px;
  height: 250px;
  margin-right: 50px;
}

.section-block__left img {
  width: 100%;
}

.section-block__left figcaption {
  font-size: 13px;
  text-align: center;
}

.section-block__right {
  width: 70%;
}

.section-block__right h2 {
  margin: 20px 0 50px 0;
}

h3 {
  text-align: center;
  font-size: 30px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 10px;
}

input[type="submit"] {
  background-color: #ff5f5f;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b42121;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: DarkSalmon;
  color: white;
}
